---
# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/release-1.11/website/content/v1.11/schemas/config.schema.json
machine:
  type: controlplane
  network:
    hostname: k8s-2
    interfaces:
      - deviceSelector:
          hardwareAddr: b8:85:84:a2:5d:97
          driver: e1000e
        mtu: 9000
        dhcp: true
        vip:
          ip: 192.168.1.120
