---
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: tailscale
environment:
  - TS_AUTHKEY=op://kubernetes/tailscale/TAILSCALE_CLIENT_SECRET
  - TS_HOSTNAME=k8s-1
  - TS_EXTRA_ARGS=--advertise-tags=tag:talos-nodes
